
@{
    ViewBag.Title = "Trang quản lý Tour";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-9 main-layout-right">
    <div class="h2 text-center p-3">Trang quản lý Tour</div>
</div>

